*{
  color: #666666;
}

a{
  color: #1890ff !important;
}
.info{
  display: flex;
  div{
    margin-right: 1.5rem;
  }
  i{
    margin-right: .6rem;
  }
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #666666;
  i{
    margin-right: .6rem;
  }
}

.desc{
  font-size: .9rem;
}

.ForumHeader{
  display: flex;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.Sorting{
  display: flex;
  div{
    margin-right: .8rem;
  }
}

.Button{
  display: flex;
  height: 2rem;
  font-weight: bold;
  color: #666666;
  i{
    height: 22px;
    width: 22px;
    padding-top: .2rem;
  }
}

.Settings{
  margin-right: 1.5rem;
  .ant-btn-primary{
    background-color: white;
  }
  span{
    color: #1890ff;
  }
  i{
    margin-left: 1rem;
  }
}

.Navigation{
  display: flex;
}