*{
  color: #666666;
}

a{
  color: #1890ff !important;
}
.info{
  display: flex;
  div{
    margin-right: 1.5rem;
  }
  i{
    margin-right: .6rem;
  }
}

.title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #666666;
  i{
    margin-right: .6rem;
  }
}

.desc{
  font-size: .9rem;
}

.ForumHeader{
  display: flex;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.Sorting{
  display: flex;
  div{
    margin-right: .8rem;
  }
}

.Settings{
  margin-right: 1.5rem;
  i{
    margin-left: 1rem;
  }
}

.ant-btn-primary{
  background-color: white;
  span{
    color: #1890ff;
  }
  path{
    color: #1890ff;
  }
}

.Navigation{
  display: flex;
  a{
    padding-top: .45rem;
  }
}

.ant-cascader-input{
  border: none;
  padding-left: 0;
}

.ant-cascader-picker-focused{
  border:none;
}

.ant-cascader-picker{
  background-color: #fafafa !important;
  path{
    color: #1890ff;
  }
}

.ant-cascader-picker-label{
  color: #1890ff;
  padding-left: .35rem;
}

.anticon.anticon-close-circle.ant-cascader-picker-clear{
  display: none;
}

.ant-radio-button-wrapper:not(:first-child)::before{
  display: none;
}

.ant-radio-button-wrapper:first-child{
  border-left: none;
  border-radius: 0;
}

.ant-radio-button-wrapper:last-child{
  border-radius: 0;
}

.ant-radio-button-wrapper{
  border: none;
  background-color: transparent;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #e8e8e8;
}
