@import 'src/styles/subsocial-vars.scss'

.DfHiddenAlert
  margin-top: -$space_big !important
  margin-bottom: $space_normal !important
  padding: $space_normal !important

.DfHiddenAlertPreview
  margin: -$space_large !important
  margin-bottom: $space_normal !important
  border-top-left-radius: 7px !important
  border-top-right-radius: 7px !important
