/* Copyright 2017-2019 @polkadot/ui-app authors & contributors
/* This software may be modified and distributed under the terms
/* of the Apache-2.0 license. See the LICENSE file for details. */

.ui--AddressComponents {
  display: inline-block;
  padding: 0 0.25rem 0 0;
}

.ui--AddressComponents.padded {
  display: inline-block;
  padding: 0.25rem 0 0 0;
}

.ui--AddressComponents.summary {
  position: relative;
  top: -0.2rem;
}

.ui--AddressComponents-info div {
  display: inline-block;
  vertical-align: middle;
}

.ui--AddressComponents-address {
  text-align: left;
  &.activity {
    width: initial;
    font-weight: bold;
  }
  &.withAddr {
    font-family: monospace;
  }

  &.withName {
    text-transform: uppercase;
  }
}

.ui--AddressComponents .ui--IdentityIcon {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
