// See how to work with custom fonts in Next.js:
// https://codeconqueror.com/blog/using-google-fonts-with-next-js

// @font-face {
//   font-family: 'PT Serif';
//   src: url('/fonts/PTSerif-Bold.ttf');
// }

// @font-face {
//   font-family: 'Noto Serif';
//   src: url('/fonts/NotoSerif-Bold.ttf');
// }

// @font-face {
//   font-family: 'Merriweather';
//   src: url('/fonts/Merriweather-Bold.ttf');
// }