
/*-------------Font Size-----------*/
$font_tiny: .75rem;
$font_small: .875rem;
$font_normal: 1rem;
$font_large: 1.25rem;
$font_big: 1.5rem;
$font_huge: 2rem;

/*----------Space Size-------------*/
$space_mini: .25rem;
$space_tiny: .5rem;
$space_small: .75rem;
$space_normal: 1rem;
$space_large: 1.25rem;
$space_big: 1.5rem;
$space_huge: 2rem;

/*-------------Colors----------*/
$color_page_bg: #fafafa;
$color_font_normal: #222222;
$color_muted: #888;
$color_link: #1890ff;
$color_secondary: #595959;
$color_light_border: #ddd;
$color_volcano: #fa541c;

/*------------- Shadow --------*/

$shadow: 0 0 5px 2px #eeecec !important;

/*------------- Misc ----------*/

/* 64px is a height of Ant Design toolbar */
$height_top_menu: 64px;
$border_radius_normal: 4px;
$width_panel: 300px;