@import '../../utils/styles/subsocial-vars.css';

.RNTListItem {
  margin-bottom: $space_normal;
}
.RNTIcon {
  transform: rotate(90deg);
  margin-right: $space_normal;
}
.RNTSaveButton span {
  color: #fff;
}
