.DfPageContent {
  width: 70%;
  color: #111;
}

@media (max-width: 1200px) {
  .DfPageContent {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .DfPageContent {
    width: 100%;
  }
}

$tiny: .5rem;
$small: .75rem;
$normal: 1rem;
$big: 1.5rem;
$huge: 1.75rem;



.DfBlogStats.MyBlog {
  margin-top: 1rem;
}

.DfPostImage {
  max-width: 100%;
}
.ProfilePreviews,
.FullProfile {
  .item {
    .image {
      padding: 0 !important;
    }
    .description {
      font-size: 1rem;
    }
  }
}
.ProfilePreviews {
  &.ui.list>.item:first-child {
    padding-top: .75rem;
  }
  &.ui.list>.item:last-child {
    padding-bottom: .75rem;
  }
}

.DfPreview {
  .content {
    display: flex;
    align-items: center;
  }
}
.ProfileDetails {
  display: flex !important;
  .content {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .header { 
    display: flex !important;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .button {
    height: min-content;
  }
  .handle {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: .6rem;
    .button {
      padding: .5rem .75rem;
    }
  }
}
.ProfileDetailsTable {
  font-size: 1rem !important;
  tr td:first-child {
    width: 1%;
    white-space: nowrap;
  }
}

.EditEntityBox {
  width: 100%;
  max-width: 600px;

  .EditEntityForm {
    width: 100%;
  }

  .editor-statusbar {
    display: none;
  }
}

.DfCountsPreview {
  margin-top: .5rem;
  font-size: .85rem;
  .MutedText {
    margin-right: 1rem;
  }
}

.ui--AddressMini-info div {
  vertical-align: initial;
}

.ui.threaded.comments .comment .comments{
  padding: 0 0 0 1.2rem;
  margin: -1rem 0 0 1.25rem;
}

.DfCommentContent {
  .metadata {
    margin-left: 0;
    font-size: 1rem;
  }
}

form.ui.form.DfForm.EditEntityForm {
  margin-bottom: 2rem;
}

.ui.basic.button {
  background-color: #fff !important;
}

.editor-statusbar {
  float: right;
}

.DfSpacedButtons {
  .button {
    margin-right: .5rem;
  }
};

.DfVoter {
  &.vertical {
    margin-right: .5rem;
  }
  .ui.button:first-of-type {
    padding-left: 0;
  }
  .ui.button {
    background-color: transparent !important;
    color: #8c8c8c;
    min-width: initial;
    max-height: initial;
    padding: .5rem .5rem .5rem .1rem;

    &.red {
      &:hover,
      &.active {
        color: red !important;
      }
    }
    &.green {
      &:hover,
      &.active {
        color: green !important;
      }
    }
  }
}

.ui.img.avatar {
  width: initial;
  height: initial;
}

.DfCommentsByPost {
  h4 {
    font-size: 1.35rem;
    font-weight: bold;
    color:#8c8c8c;
    border-top: #ddd 1px solid;
  }
  .ui.comments .comment .metadata {
    margin-left: 0;
    color:#8c8c8c;
  }
  .ui.comments .comment .text {
    margin: 0;
  }
  .ui.comments {
    max-width: 100%;
  }
}
.DfCommentContent {
  margin-bottom: 2rem;
  .reply {
    color: #8c8c8c;
  }
}

.ChildComment {
  .DfComment {
    padding-top: 1rem;
  }
}

.ui.dropdown {
  display: initial;
  width: initial;
}
hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}

.DfFollowButton {
  margin-top: .6rem;
}

.disable, .disable:hover{
  margin-right: .5rem;
  color: #8c8c8c;
  text-decoration: none;
  cursor: default;
}

.DfActivityStreamItem {
  .handle, a { 
    font-weight: bold;
  }

  .name{
    text-transform: uppercase;
  }
  
  /*.activity{
    margin-left: .25rem;
    margin-right: .25rem;
  }*/

}

.DfDate {
  width: 100%;
  font-size: .9rem;
}

.DfSocialLinks {
  margin-top: 1rem;
  font-size: 1.2rem;
  a {
    margin-right: 1rem
  }
}

.asLink {
  color: #2185d0;
  text-decoration: none;
  cursor: pointer;
}

.asLink:hover {
  color: #0d548a
}

.DfBlogStats {
  font-size: .9rem;
  display: flex;

  .DfStatItem {
    margin-right: 1rem;
  }
}

.DfBlogBody {
  display: flex;
  width: 100%;
  .handle {
    max-width: 30rem;
  }
}

.DfCountsPreview{
  a{
    margin-right: .4rem;
  }
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top){
  border: none;
}

.DfPostPreview, .DfPost {
  .ui.button {
    min-width: initial;
    max-height: initial;
  }  
}

.DfPostPreview {
  h2 {
    margin-top: 1rem; 
  }
  .DfSharedSummary {
    margin-left: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    width: 95%;
  }
  .ui.button {
    min-width: initial;
    max-height: initial;
  }  
}
.ui.segment.DfPostPreview.p-b-0 {
  padding: 1rem 1rem 0rem 1rem;
}

.DfCountsPreview {
  margin-top: 0;
  a, span {
    color: rgba(34,36,38,.8) !important;
    font-size: .9rem;
  }
}

.DfCountsPreview {
  display: flex;
  justify-content: flex-start;
  margin-top: .5rem;
  margin-bottom: .5rem;
  a, span {
    color: rgba(34,36,38,.8) !important;
    font-size: .9rem;
  }
}

.ui.segment.DfPostPreview {
  .DfRow {
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
  }
  .DfInfo {
    margin-right: .5rem;
    width: -webkit-fill-available;
  }
  .DfContent {
    display: flex;
    justify-content: space-between;
  }
  .DfActionsPanel {
    display: flex;
    border-top: 1px solid rgba(34,36,38,.15);
  }
  .DfAction {
    width: 32%;
    display: flex;
    justify-content: center;
  }
  .DfCountsPreview {
    justify-content: flex-end;
  }
  .ui.tiny.button.basic.DfAction {
    font-weight: bold;
    font-size: 1rem;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgba(255,255,255,0) !important;
  }
  img.DfPostImagePreview {
    border-radius: .2rem;
    max-width: 16rem;
    max-height: 12rem;
  }
}

.DfShareModal {
  .DfSection {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .EditEntityBox {
    width: 100%;
    max-width: none;
  }
  .ui.input>input, .ui.selection.dropdown {
    width: 100%;
  }
  .ui.segment.DfPostPreview {
    text-align: left;
  }
}

.DfGreyLink {
  color: #8c8c8c !important;
  cursor: pointer;
  a {
    color: #8c8c8c !important;
    cursor: pointer;
  }
}
.DfGreyLink:hover {
  a {
    color: #8c8c8c !important;
    text-decoration: underline;
    cursor: pointer;
  }
  color: #8c8c8c !important;
  text-decoration: underline;
  cursor: pointer;
}

.DfScore {
  font-size: 1rem;
}

.editor-statusbar {
  display: none;
}

.DfGreyButton {
  background-color: #ddd;
  padding: 1rem;
}

.DfGreyButton:hover {
  background-color: #ccc;
  border-color: #ddd;
  color: #333;
}

.DfSelectedBlog {
  background-color: #e6f7ff;
  color: #1890fe !important;
  border-right: 2px solid #1890f3;
}

.DfBgImg {
  background-size: cover;
  background-position: center;
}

.text.muted,
.text.grey {
  color: #999999;
}

.text.smaller {
  font-size: 0.9rem;
}

.ui.button:disabled,
.ui.buttons .disabled.button,
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
  opacity: 0.45 !important;
}

.ui--row {
  .ui.message {
    margin: 0;
    padding: .7rem 1rem;
  }
  textarea,
  .ui--InputFile {
    margin: .25rem 0 !important;
    height: 5rem;
  }
}

.modal {
  .ui--AddressMini {
    width: 100%;
  }
  .AddressMini{
    .button{
      min-width: 8rem;
    }
  }
}

.ui.modal .scrolling.content {
  text-align: left;
}

.ui--AddressMini {
  .ui--IdentityIcon {
    margin-left: 0;
  }
  .ui--AddressMini-info {
    display: inline-flex;
    .AddressMini.follow{
      float: right;
    }
  }
  .ui--AddressMini-details {
    display: block;
    text-align: left;
    float: left;
    color: #8c8c8c !important;
    font-size: .875rem!important
  }
  .ui--AddressSummary-name,
  .ui--AddressSummary-balance {
    display: block;
    margin-top: 0;
    padding-top: 0;
    font-size: .80rem !important;
    margin-right: 1rem;
    font-weight: 100;
    opacity: .80;
    overflow: hidden;
    float: left;
  }
}

.ui--Bubble.ui.label {
  background-color: #f2f2f2;
  margin: .25rem 0;
  margin-right: .5rem;

  &.pointing:before {
    background-color: #e6e6e6;
  }
  &.warn {
    color: #f2711c !important;
    border: 1px solid;
  }
  &.ok {
    color: #21ba45 !important;
    border: 1px solid;
  }
}

.SidebarItem {
  display: inline-flex;
  flex-direction: column;

  .SidebarSubtitle {
    display: block;
    font-size: 0.85rem;
    color: grey;
  }
}

.DfCommentsByPost {
  .DfSection-title {
    font-size: 1.35rem;
    font-weight: bold !important;
  }
}

.DfSection--withButton {
  display: flex;
  align-items: center;
}

.DfSection {
  margin-top: 2rem;
  margin-bottom: 1rem;

  .DfSection-title {
    border-bottom: 1px solid #ddd;
    margin: 0rem;
    margin-bottom: .5rem;
    padding: .5rem 0;
    display: flex;
  }
  li.ant-list-item.ant-list-item-no-flex {
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}

.DfForm .ui--Labelled {
  align-items: end;
  &>label {
    padding-top: .75rem;
  }
}

/* MD = markdown */
.DfViewMD {
  img {
    max-width: 100%;
  }
  code {
    background-color: #e0e0e0;
    padding: 0 .25rem;
    border-radius: 2px;
  }
}

.DfMainStatus {
  margin: 1rem auto !important;
  max-width: 500px !important;
  width: 100% !important;
  text-align: center;

  .button {
    margin-right: 0;
  }
}

.ui.top.left.flowing.popup.transition.visible{
  .ui--AddressMini-address{
    font-size: 1.2rem;
  }
  .DfPopup-username{
    font-size: .8rem;
  }
  .ui--AddressMini-details {
    margin-right: .3rem;
  }
}

.DfAvatar{
  margin-right: .5rem;
  display: inline-block;
  border-radius: 50rem;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.ui.top.left.flowing.popup.transition.visible{
  .DfAvatar{
    margin: 0 .5rem .5rem 0;
  }
}
.ui.top.left.flowing.popup.transition.visible{
  .item.ProfileDetails.MyProfile{
    padding-left: 0!important;
  }
}

.DfPopup-username{
  font-size: 0.8rem;
  color: #4e4e4e;
}

.DfMd{
  margin-top: .25rem;
  font-size: 1rem;
}

.DfMd.details {
  margin-top: 2rem;
}

.DfPopup-about{
  margin-top: .5rem;
}

.DfPopup-links {
  display: flex;
  justify-content: space-around;
}

.DfMdEditor {
  .CodeMirror-scroll {
    min-height: 5rem !important;
  }

  .CodeMirror.cm-s-easymde.CodeMirror-wrap.CodeMirror-fullscreen{
    z-index: 1000;
  }
  .editor-toolbar.fullscreen {
    z-index: 1000;
  }
}


.DfMdEditor.error {
  .editor-statusbar {
      float: right;
  }

  .CodeMirror.cm-s-easymde.CodeMirror-wrap {
      background-color: #fff6f6;
      border-color: #e0b4b4;
  }

  .editor-toolbar {
    border-color: #e0b4b4;
  }

}

.ui.DfMenu.menu {
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 0;
  label {
    color: #fff;
  }
  .search.selection.dropdown {
    background-color: #333;
  }
}

.ui.attached.tabular.menu {
  padding: 0 2rem;
}

.DfSearch {
  width: 85%;
  color: rgba(0, 0, 0, 0.7);
  z-index:2;
  input {
    border-radius: .5rem;
  }
  input:hover {
    border-color: #1e99ff;
  }
  input:focus {
    border-color: #1e99ff;
    -moz-box-shadow:0 0 10px #1e99ff; -webkit-box-shadow:0 0 10px #1e99ff; box-shadow:0 0 10px #1e99ff;
  }
  ul {
    top: 50px;
  }
  li {
    line-height: initial;
  }
}

.DfTopBar--InputAddress {
  .ui.input>input, .ui.selection.dropdown {
    width: 1rem;
  }
}

.DfBgColor {
  background-color: #fafafa;
}

.DfTab {
  background-color: #fff;
  .ui.attached.tabular.menu {
    padding: 1rem 1rem 0rem 1rem ;
  }
}

.DfHeader {
  background: #fff;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ant-layout {
  background-color: #fafafa !important;
}

.ui.segment {
  background-color: #fff;
}

.DfDataList { 
  padding-top: .5rem;
  .ant-list-pagination {
    display: flex;
    justify-content: center;
  }
}

.DfEmpty {
  padding-top: 2rem;
}

.DfTitle--List {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DfSelestedBlog {
  color: #1890fe;
}

.DfSideMenu--FollowedBlogs {
  color: #666;
  cursor: pointer;
  .ant-menu-item-group-title {
    border-top: #ccc 1px solid;
    text-transform: uppercase;
    font-size: .9rem;
  }

  .container.highlight {
    margin-top: .5rem;
    margin-right: .3rem;
  }
  .content {
    width: 80%;
    display: flex;
    align-items: center;
    .handle {
      padding: .6rem 0rem;
    }
  }
  .item {
    padding: .5rem;
    padding-left: 1rem;
  }
  .DfNoFollowed {
    display: flex;
    justify-content: center;
  }
}

.DfSider {
  background: #fff;
  border-right: 1px solid #ddd;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
  border: none;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.DfTopBar {
  width: 100%;
  display: contents;
  .MobileSearchIcon {
    padding: 1rem;
    font-size: 1.4rem;
  }
}

.DfTopBar--search {
  display: flex;
  align-items: center;
}

.DfTopBar--rightContent {
  display: -webkit-inline-box;
  display: -moz-inline-box;
}

/*----------MOBILE--------------*/

.DfMobileSideBar {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .ant-menu-inline {
    width: 250px;
  }
}
.DfMobileSideBar .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.DfMobileSideBar .am-drawer-sidebar .am-list {
  width: 200px;
  padding: 0;
}

.ui.search.selection.dropdown {
  min-width: 10rem;
  .address { 
    visibility: hidden;
    display: none;
  }
}
.item.header.disabled {
  margin: 0;
  span {
    width: 3rem;
    overflow: hidden;
  }
}
.am-drawer-draghandle {
  background-color: initial;
}