.DfPageContent {
  width: 70%;
  color: #111;
}

@media (max-width: 1200px) {
  .DfPageContent {
    width: 90%;
  }
}

.DfBlogStats.MyBlog {
  margin-top: 1rem;
}

.DfPostImage {
  max-width: 100%;
}
.ProfilePreviews,
.FullProfile {
  .item {
    .image {
      padding: 0 !important;
    }
    .description {
      font-size: 1rem;
    }
  }
}
.ProfilePreviews {
  &.ui.list>.item:first-child {
    padding-top: .75rem;
  }
  &.ui.list>.item:last-child {
    padding-bottom: .75rem;
  }
}

.DfPreview {
  .content {
    display: flex;
    align-items: center;
  }
}
.ProfileDetails {
  display: flex !important;
  .content {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .header { 
    display: flex !important;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .button {
    height: min-content;
  }
  .handle {
    white-space: nowrap;
    /*overflow-x: hidden;*/
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: .6rem;
    .button {
      padding: .5rem .75rem;
    }
  }
}
.ProfileDetailsTable {
  font-size: 1rem !important;
  tr td:first-child {
    width: 1%;
    white-space: nowrap;
  }
}

.EditEntityBox {
  width: 100%;
  max-width: 600px;

  .EditEntityForm {
    width: 100%;
  }

  .editor-statusbar {
    display: none;
  }
}

.DfCountsPreview {
  margin-top: .5rem;
  font-size: .85rem;
  .MutedText {
    margin-right: 1rem;
  }
}

.ui--AddressMini-info div {
  vertical-align: initial;
}

.ui.threaded.comments .comment .comments{
  padding: 0 0 0 1.2rem;
  margin: -1rem 0 0 1.25rem;
}

.DfCommentContent {
  .metadata {
    margin-left: 0;
    font-size: 1rem;
  }
}

form.ui.form.DfForm.EditEntityForm {
  margin-bottom: 2rem;
}

.ui.basic.button {
  background-color: #fff !important;
}

.editor-statusbar {
  float: right;
}

.DfSpacedButtons {
  .button {
    margin-right: .5rem;
  }
};

.DfVoter {
  &.vertical {
    margin-right: .5rem;
  }
  .ui.button:first-of-type {
    padding-left: 0;
  }
  .ui.button {
    background-color: transparent !important;
    color: #8c8c8c;
    min-width: initial;
    max-height: initial;
    padding: .5rem .5rem .5rem .1rem;

    &.red {
      &:hover,
      &.active {
        color: red !important;
      }
    }
    &.green {
      &:hover,
      &.active {
        color: green !important;
      }
    }
  }
}

.ui.img.avatar {
  width: initial;
  height: initial;
}

.DfCommentsByPost {
  h4 {
    font-size: 1.35rem;
    font-weight: bold;
    color:#8c8c8c;
    border-top: #ddd 1px solid;
  }
  .ui.comments .comment .metadata {
    margin-left: 0;
    color:#8c8c8c;
  }
  .ui.comments .comment .text {
    margin: 0;
  }
  .ui.comments {
    max-width: 100%;
  }
}
.DfCommentContent {
  margin-bottom: 2rem;
  .reply {
    color: #8c8c8c;
  }
}

.ChildComment {
  .DfComment {
    padding-top: 1rem;
  }
}

.ui.dropdown {
  display: initial;
  width: initial;
}
hr {
  border: 0;
  border-bottom: 1px solid #ddd;
}

.DfFollowButton {
  margin-top: .6rem;
}

.disable, .disable:hover{
  margin-right: .5rem;
  color: #8c8c8c;
  text-decoration: none;
  cursor: default;
}

.DfActivityStreamItem {
  .handle, a { 
    font-weight: bold;
  }

  .name{
    text-transform: uppercase;
  }
  
  /*.activity{
    margin-left: .25rem;
    margin-right: .25rem;
  }*/

}

.DfDate {
  width: 100%;
  font-size: .9rem;
}

.DfSocialLinks {
  margin-top: 1rem;
  font-size: 1.2rem;
  a {
    margin-right: 1rem
  }
}

.asLink {
  color: #2185d0;
  text-decoration: none;
  cursor: pointer;
}

.asLink:hover {
  color: #0d548a
}

.DfBlogStats {
  font-size: .9rem;
  display: flex;

  .DfStatItem {
    margin-right: 1rem;
  }
}

.DfBlogBody {
  display: flex;
  width: 100%;
  .handle {
    max-width: 30rem;
  }
}

.DfCountsPreview{
  a{
    margin-right: .4rem;
  }
}

.ui.attached:not(.message)+.ui.attached.segment:not(.top){
  border: none;
}

.DfPostPreview, .DfPost {
  .ui.button {
    min-width: initial;
    max-height: initial;
  }  
}

.DfPostPreview {
  h2 {
    margin-top: 1rem; 
  }
  .DfSharedSummary {
    margin-left: 3rem;
    margin-top: .5rem;
    font-size: 1.2rem;
    width: 95%;
  }
  .ui.button {
    min-width: initial;
    max-height: initial;
  }  
}
.ui.segment.DfPostPreview.p-b-0 {
  padding: 1rem 1rem 0rem 1rem;
}

.DfCountsPreview {
  margin-top: 0;
  a, span {
    color: rgba(34,36,38,.8) !important;
    font-size: .9rem;
  }
}

.DfCountsPreview {
  display: flex;
  justify-content: flex-start;
  margin-top: .5rem;
  margin-bottom: .5rem;
  a, span {
    color: rgba(34,36,38,.8) !important;
    font-size: .9rem;
  }
}

.ui.segment.DfPostPreview {
  .DfRow {
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
  }
  .DfInfo {
    margin-right: .5rem;
    width: -webkit-fill-available;
  }
  .DfContent {
    display: flex;
    justify-content: space-between;
  }
  .DfActionsPanel {
    display: flex;
    border-top: 1px solid rgba(34,36,38,.15);
  }
  .DfAction {
    width: 32%;
    display: flex;
    justify-content: center;
  }
  .DfCountsPreview {
    justify-content: flex-end;
  }
  .ui.tiny.button.basic.DfAction {
    font-weight: bold;
    font-size: 1rem;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: rgba(255,255,255,0) !important;
  }
  img.DfPostImagePreview {
    border-radius: .2rem;
    max-width: 16rem;
    max-height: 12rem;
  }
}

.DfShareModal {
  .DfSection {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .EditEntityBox {
    width: 100%;
    max-width: none;
  }
  .ui.input>input, .ui.selection.dropdown {
    width: 100%;
  }
  .ui.segment.DfPostPreview {
    text-align: left;
  }
}

.DfGreyLink {
  color: #8c8c8c !important;
}
.DfGreyLink:hover {
  color: #8c8c8c !important;
  text-decoration: underline;
}

.DfScore {
  font-size: 1rem;
}

.editor-statusbar {
  display: none;
}

.DfGreyButton {
  background-color: #ddd;
  padding: 1rem;
}

.DfGreyButton:hover {
  background-color: #ccc;
  border-color: #ddd;
  color: #333;
}

.DfSelectedBlog {
  background-color: #e6f7ff;
  color: #1890fe !important;
  border-right: 2px solid #1890f3;
}

.DfBgImg {
  background-size: cover;
  background-position: center;
}