@import './subsocial-vars.css';

.DfPageContent {
  max-width: 100%;
}

.EditEntityBox {
  max-width: 100%;
}

.EditPostWrapper {
  display: flex;
  justify-content: space-between;
}

.EditPostForm {
  width: 50%;
  margin-right: $space_huge;
}

.EditPostPreview {
  width: 50%;

  .EditPostPreviewBlock {
    display: flex;
    margin-top: $space_big;
    flex-direction: column;
  }
}

.EditPostAddButton {
  margin: $space_big 0;

  &.defaultAddBlockButton {
    padding: 0 5px;
    margin-right: 1rem;
    cursor: pointer;

    i {
      margin-right: 3px;
    }
  }
}

.EditPostLabel {
  color: black;
  font-weight: 600;
  font-size: small;
}

.EditPostBlockWrapper {
  margin: $space_big 0;
  display: flex;
  flex-direction: column;
  padding: 2px;
  

  .navigationButtons {
    display: flex;
    margin: 0.5rem;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    button {
      font-size: 0.8rem;
      padding: 0 5px;
      height: 1.5rem;
      background-color: white;
      border-color: gray;
      border: 1px solid;
      margin-right: 1rem;

      i {
        margin-right: 3px;
      }
    }

    i {
      cursor: pointer;
    }
  }
}
.EditPostBlockWrapper.inputFocus,
.EditPostBlockWrapper:hover {
  background-color: beige;
  border-radius: 4px;

  .navigationButtons {
    opacity: 1;
  }
}

.AddBlockDropdownMenu {
  max-width: 100px;
}

.EditPostAceEditor {
  .aceModeButton {
    width: 200px;
    margin-bottom: 5px;
  }
}