
/*-------------Font Size-----------*/
$font_tiny: .75rem;
$font_small: .875rem;
$font_normal: 1rem;
$font_large: 1.25rem;
$font_big: 1.5rem;

/*----------Space Size-------------*/
$space_mini: .25rem;
$space_tiny: .5rem;
$space_small: .75rem;
$space_normal: 1rem;
$space_large: 1.25rem;
$space_big: 1.5rem;
$space_huge: 2rem;

/*-------------Colors----------*/
$color_page_bg: #fafafa;
$color_muted: #8c8c8c;
$color_link: #1890ff;
$color_menu_font: #595959;
$color_light_border: #ddd;