.DfSidebarLogo {
  font-size: 2rem;
  color: #fff;
  padding: 2rem;
}

.text.muted,
.text.grey {
  color: #999999;
}

.text.smaller {
  font-size: 0.9rem;
}

.ui.button:disabled,
.ui.buttons .disabled.button,
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
  opacity: 0.45 !important;
}

.ui--row {
  .ui.message {
    margin: 0;
    padding: .7rem 1rem;
  }
  textarea,
  .ui--InputFile {
    margin: .25rem 0 !important;
    height: 5rem;
  }
}

.modal {
  .ui--AddressMini {
    width: 100%;
  }
  .AddressMini{
    .button{
      min-width: 8rem;
    }
  }
}

.ui.modal .scrolling.content {
  text-align: left;
}

.ui--AddressMini {
  .ui--IdentityIcon {
    margin-left: 0;
  }
  .ui--AddressMini-info {
    display: inline-flex;
    .AddressMini.follow{
      float: right;
    }
  }
  .ui--AddressMini-details {
    display: block;
    text-align: left;
    float: left;
    color: #8c8c8c !important;
    font-size: .875rem!important
  }
  .ui--AddressSummary-name,
  .ui--AddressSummary-balance {
    display: block;
    margin-top: 0;
    padding-top: 0;
    font-size: .80rem !important;
    margin-right: 1rem;
    font-weight: 100;
    opacity: .80;
    overflow: hidden;
    float: left;
  }
}

.ui--Bubble.ui.label {
  background-color: #f2f2f2;
  margin: .25rem 0;
  margin-right: .5rem;

  &.pointing:before {
    background-color: #e6e6e6;
  }
  &.warn {
    color: #f2711c !important;
    border: 1px solid;
  }
  &.ok {
    color: #21ba45 !important;
    border: 1px solid;
  }
}

.SidebarItem {
  display: inline-flex;
  flex-direction: column;

  .SidebarSubtitle {
    display: block;
    font-size: 0.85rem;
    color: grey;
  }
}

.DfCommentsByPost {
  .DfSection-title {
    font-size: 1.35rem;
    font-weight: bold !important;
  }
}

.DfSection {
  margin-top: 2rem;
  margin-bottom: 1rem;

  .DfSection-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: .5rem 0;
    display: flex;
  }
}

.DfForm .ui--Labelled {
  align-items: end;
  &>label {
    padding-top: .75rem;
  }
}

/* MD = markdown */
.DfViewMD {
  img {
    max-width: 100%;
  }
  code {
    background-color: #e0e0e0;
    padding: 0 .25rem;
    border-radius: 2px;
  }
}

.DfMainStatus {
  margin: 1rem auto !important;
  max-width: 500px !important;
  width: 100% !important;
  text-align: center;

  .button {
    margin-right: 0;
  }
}

.ui.top.left.flowing.popup.transition.visible{
  .ui--AddressMini-address{
    font-size: 1.2rem;
  }
  .DfPopup-username{
    font-size: .8rem;
  }
  .ui--AddressMini-details {
    margin-right: .3rem;
  }
}

.DfAvatar{
  margin-right: .5rem;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.ui.top.left.flowing.popup.transition.visible{
  .DfAvatar{
    margin: 0 .5rem .5rem 0;
  }
}
.ui.top.left.flowing.popup.transition.visible{
  .item.ProfileDetails.MyProfile{
    padding-left: 0!important;
  }
}

.DfPopup-username{
  font-size: 0.8rem;
  color: #4e4e4e;
}

.DfMd{
  margin-top: .25rem;
  font-size: 1rem;
}

.DfPopup-about{
  margin-top: .5rem;
}

.DfPopup-links {
  display: flex;
  justify-content: space-around;
}

.DfMdEditor {
  .CodeMirror-scroll {
    min-height: 5rem !important;
  }

  .CodeMirror.cm-s-easymde.CodeMirror-wrap.CodeMirror-fullscreen{
    z-index: 1000;
  }
  .editor-toolbar.fullscreen {
    z-index: 1000;
  }
}


.DfMdEditor.error {
  .editor-statusbar {
      float: right;
  }

  .CodeMirror.cm-s-easymde.CodeMirror-wrap {
      background-color: #fff6f6;
      border-color: #e0b4b4;
  }

  .editor-toolbar {
    border-color: #e0b4b4;
  }

}

.ui.DfMenu.menu {
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 0;
  label {
    color: #fff;
  }
  .search.selection.dropdown {
    background-color: #333;
  }
}

.DfSearch {
  width: 45%;
  color: rgba(0, 0, 0, 0.7);
  z-index:2;
  input {
    border-radius: .5rem;
  }
  input:hover {
    border-color: #1e99ff;
  }
  input:focus {
    border-color: #1e99ff;
    -moz-box-shadow:0 0 10px #1e99ff; -webkit-box-shadow:0 0 10px #1e99ff; box-shadow:0 0 10px #1e99ff;
  }
}

.DfTopBar--InputAddress {
  .ui.input>input, .ui.selection.dropdown {
    width: 1rem;
  }
}

.DfBgColor {
  background-color: #fafafa;
}

.DfTab {
  background-color: #fff;
  .ui.attached.tabular.menu {
    padding: 1rem 1rem 0rem 1rem ;
  }
}

.DfHeader {
  background: #fff;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.ant-layout {
  background-color: #fafafa !important;
}

.ui.segment {
  background-color: #fff;
}

.DfDataList { 
  .ant-list-pagination {
    display: flex;
    justify-content: center;
  }
}

.DfTitle--List {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.DfSideMenu--FollowedBlogs {
  .ant-menu-item-group-title {
    border-top: #ccc 1px solid;
    text-transform: uppercase;
    font-size: .9rem;
  }
  .handle {
    color: #666;
  }
  .container.highlight {
    margin-top: .5rem;
    margin-right: .3rem;
  }
  .content {
    display: flex;
    align-items: center;
  }
  .item {
    padding: .5rem;
  }
}

.DfSider {
  background: #fff;
  border-right: 1px solid #ddd;
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.ant-list-something-after-last-item .ant-spin-container > .ant-list-items > .ant-list-item:last-child {
  border: none;
}