.flipH {
    display: inline-block;
    transform: scale(-1, 1) !important;
    -moz-transform: scale(-1, 1) !important;
    -webkit-transform: scale(-1, 1) !important;
    -o-transform: scale(-1, 1) !important;
    -ms-transform: scale(-1, 1) !important;
    transform: scale(-1, 1) !important;
  }

.DfDisableLayout {
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.9;
}